body {
    margin: 0;
    font-family: Arial;
    background: #eee;
}

/* HEADER */
.header {
    width: 90%;
    margin: 20px auto; /* diperbaiki */
    background: #417aa8;
    color: white; /* biar kontras */
    padding: 20px;
    border-radius: 8px; /* hapus spasi */
}

/* MENU */
.menu {
    width: 90%;
    margin: 0 auto 20px auto; /* lebih rapi */
    background: #417aa8;
    padding: 10px;
    border-radius: 8px;
}

.menu a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* CONTENT */
.content {
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
}

/* KIRI */
.kiri {
    width: 70%;
    float: left;
}

/* KANAN */
.kanan {
    width: 30%;
    float: left;
}

/* BOX */
.border {
    border: 2px solid #4887b9;
    margin: 15px;
    padding: 15px;
    border-radius: 6px;
}

/* LINK */
.undecor {
    text-decoration: none;
}

/* FOOTER */
.footer {
    width: 90%;
    margin: 20px auto;
    background: #417aa8;
    color: white;
    text-align: center;
    padding: 10px; /* tadi kurang px */
    border-radius: 8px;
}
